<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <!--<div class="margin-20">
        <h4>translate</h4>
        <h4>{{ 'hello greet' | translate }}</h4>
      </div>-->
      <!--<h4>Demo pan</h4>
      <div class="demo-box pan" (pan)="trigger($event)">
        <img #img class="active" [style.margin-left]="margin" 
          src="http://localhost:4200/assets/pano-2.jpg" alt="">
      </div>-->
      <!--<h4>Demo swipe</h4>
      <div class="demo-box pan" (swipeleft)="trigger($event)">
        <img #img class="active" src="http://localhost:4200/assets/pano-2.jpg" alt="">
      </div>-->
      <h4>avatars</h4>
      <div class="ctn">
        <div class="ui card test" 
          (swipeleft)="swipeNext(idx)" (swiperight)="swipePrev(idx)" 
          [class.visible]="avatar.visible" [class.hidden]="!avatar.visible"
          *ngFor="let avatar of avatars; let idx=index">
          <div class="image">
            <img src="assets/{{avatar.image}}" [alt]="avatar.name">
          </div>
          <div class="content">
            <a class="header">{{avatar.name}}</a>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>